<div class="container" ng-controller="completedCtrl">
    <div class="row">
        <h1>Completed Courses</h1>
    </div>
    <div class="row">
        <div class="card-deck" style="margin: 10px;">
            <a ng-href="{{course.url}}" class="text-center"
               ng-repeat="course in coursesCompleted">
                <div class="card card-outline-secondary" style="min-height: 215px; width: 200px;">
                    <img class="card-img-top" ng-src="{{course.badge}}" alt="{{course.title}}"
                         style="max-width: 100px; margin:5px auto;">
                    <div class="card-block">
                        <p class="card-title">{{course.title}}</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>