<div class="container-fluid">
    <div class="row" style="margin: 10px">
        <h1>Github Repos</h1>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <h2 style="margin: 10px;">Websites</h2>
            <github-repos-websites></github-repos-websites>
        </div>
        <div class="col-lg-4">
            <h2 style="margin: 10px;">Console and Desktop Apps</h2>
            <github-repos-apps></github-repos-apps>
        </div>
        <div class="col-lg-4">
            <h2 style="margin: 10px;">Forks</h2>
            <github-repos-forks></github-repos-forks>
        </div>
    </div>
</div>