<div class="container-fluid">
    <div class="row" style="margin-left: 5px;">
        <div class="list-group col-lg-4">
            <a class="list-group-item list-group-item-action" href="#/codecademy-courses">Codecademy Courses</a>
            <a class="list-group-item list-group-item-action" href="#/freecodecamp-sections">freeCodeCamp Sections</a>
        </div>
        <div class="list-group col-lg-4">
            <a class="list-group-item list-group-item-info" href="#/code-school">Code School Courses</a>
            <a class="list-group-item list-group-item-action" href="#/courses-in-progress">In Progress</a>
            <a class="list-group-item list-group-item-action" href="#/courses-completed">Completed</a>
        </div>
        <div class="list-group col-lg-4">
            <a class="list-group-item list-group-item-info" href="#/github-repos">GitHub Repos</a>
            <a class="list-group-item list-group-item-action" href="#/github-repos-websites">Websites</a>
            <a class="list-group-item list-group-item-action" href="#/github-repos-apps">Console and Desktop Apps</a>
            <a class="list-group-item list-group-item-action" href="#/github-repos-forks">Forks</a>
        </div>
        <div class="list-group col-lg-4">
            <a class="list-group-item list-group-item-info" href="#/meetup-groups">Meetup Groups</a>
            <a class="list-group-item list-group-item-action" href="#/meetup-groups-volunteer">Volunteer</a>
            <a class="list-group-item list-group-item-action" href="#/meetup-groups-member">Member</a>
        </div>
        <div class="list-group col-lg-4">
            <a class="list-group-item list-group-item-info" href="#/meetup-events">Meetup Events</a>
        <a class="list-group-item list-group-item-action" href="#/meetup-events-past">Past</a>
        <a class="list-group-item list-group-item-action" href="#/meetup-events-upcoming">Upcoming</a>
    </div>
</div>