<div class="container-fluid">
    <div class="row" style="margin-left: 5px;">
        <div class="list-group col-lg-3 col-md-6" style="margin-bottom: 10px;">
            <a class="list-group-item list-group-item-info" href="#/github-repos"><h4 class="mb-1">GitHub Repos</h4></a>
            <a class="list-group-item list-group-item-action" href="#/github-repos-websites"><h5 class="mb-1">Websites</h5></a>
            <a class="list-group-item list-group-item-action" href="#/github-repos-apps"><h5 class="mb-1">Console and Desktop Apps</h5></a>
            <a class="list-group-item list-group-item-action" href="#/github-repos-forks"><h5 class="mb-1">Forks</h5></a>
        </div>
        <div class="list-group col-lg-3 col-md-6" style="margin-bottom: 10px;">
            <a class="list-group-item list-group-item-info" href="#/meetup-groups"><h4 class="mb-1">Meetup Groups</h4></a>
            <a class="list-group-item list-group-item-action justify-content-between"
               href="#/meetup-groups-volunteer" ng-controller="meetupGroupsVolunteerCtrl">
                <h5 class="mb-1">Volunteer</h5>
                <span class="badge badge-default badge-pill">{{groupCount}} groups</span>
            </a>
            <a class="list-group-item list-group-item-action justify-content-between"
               href="#/meetup-groups-member" ng-controller="meetupGroupsMemberCtrl">
                <h5 class="mb-1">Member</h5>
                <span class="badge badge-default badge-pill">{{groupCount}} groups</span>
            </a>
        </div>
        <div class="list-group col-lg-2 col-md-6" style="margin-bottom: 10px;">
            <a class="list-group-item list-group-item-info" href="#/meetup-events"><h4 class="mb-1">Meetup Events</h4></a>
            <a class="list-group-item list-group-item-action" href="#/meetup-events-past"><h5 class="mb-1">Past</h5></a>
            <a class="list-group-item list-group-item-action" href="#/meetup-events-upcoming"><h5 class="mb-1">Upcoming</h5></a>
        </div>
        <div class="list-group col-lg-4 col-md-6" style="margin-bottom: 10px;">
            <a class="list-group-item list-group-item-info" href="#/courses"><h4 class="mb-1">Online Courses</h4></a>
            <a class="list-group-item list-group-item-action justify-content-between"
               href="#/code-school" ng-controller="coursesCompletedCtrl">
                <h5 class="mb-1">Code School</h5>
                <span class="badge badge-default badge-pill">{{coursesCompletedCount}} courses completed</span>
            </a>
            <a class="list-group-item list-group-item-action justify-content-between"
               href="#/codecademy-courses" ng-controller="codecademyCoursesCtrl">
                <h5 class="mb-1">Codecademy</h5>
                <span class="badge badge-default badge-pill">{{coursesCompletedCount}} courses completed</span>
            </a>
            <a class="list-group-item list-group-item-action justify-content-between"
               href="#/freecodecamp-sections" ng-controller="freecodecampSectionsCtrl">
                <h5 class="mb-1">freeCodeCamp</h5>
                <span class="badge badge-default badge-pill">{{sectionsCompletedCount}} sections completed</span>
            </a>
            <a class="list-group-item list-group-item-action justify-content-between"
               href="#/pluralsight-courses" ng-controller="pluralsightCoursesCtrl">
                <h5 class="mb-1">Pluralsight</h5>
                <span class="badge badge-default badge-pill">{{coursesCompletedCount}} courses completed</span>
            </a>
        </div>
    </div>
</div>