<div class="container-fluid" ng-controller="meetupEventsCtrl">
    <div class="row">
        <div class="col-md-6">
            <div style="margin: 10px">
                <h1>Past Meetup Events</h1>
            </div>
            <div class="row list-group" style="margin: 10px">
                <a class="list-group-item list-group-item-action flex-column align-items-start"
                   ng-href="{{event.event_url}}" ng-repeat="event in pastMeetups" style="max-width: 600px">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{event.group.name}}</h5>
                        <small class="text-muted">{{event.time|date:'yyyy-MM-dd'}}</small>
                    </div>
                    <p class="mb-1">{{event.name}}</p>
                </a>
            </div>
        </div>
        <div class="col-md-6">
            <div style="margin: 10px">
                <h1>Upcoming Meetup Events</h1>
            </div>
            <div class="row list-group" style="margin: 10px">
                <a class="list-group-item list-group-item-action flex-column align-items-start"
                   ng-href="{{event.event_url}}" ng-repeat="event in upcomingMeetups" style="max-width: 600px">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{event.group.name}}</h5>
                        <small class="text-muted">{{event.time|date:'yyyy-MM-dd'}}</small>
                    </div>
                    <p class="mb-1">{{event.name}}</p>
                </a>
            </div>
        </div>
    </div>
</div>