<div class="col-lg-6" ng-controller="meetupEventsUpcomingCtrl">
    <div style="margin: 10px">
        <h2>Upcoming Meetup Events</h2>
    </div>
    <div class="row list-group" style="margin: 10px">
        <a class="list-group-item list-group-item-action flex-column align-items-start"
           ng-href="{{event.event_url}}" ng-repeat="event in upcomingMeetups" style="max-width: 600px">
            <div class="d-flex w-100 justify-content-between">
                <h5>{{event.group.name}}</h5>
                {{event.time|date:'yyyy-MM-dd'}}
            </div>
            <div class="d-flex w-100 justify-content-between">
                {{event.name}}
                <span>{{event.time|date:'shortTime'}}</span>
            </div>
        </a>
    </div>
</div>